<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ceapata.agora">

    <application
        android:allowBackup="true"
        android:icon="@drawable/appicon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:name="android.support.multidex.MultiDexApplication">
        <activity android:name="com.ceapata.agora.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.ceapata.agora.HelpActivity" />
        <activity android:name="com.ceapata.agora.ExitActivity" />
        <activity android:name="com.ceapata.agora.PlayActivity" />
        <activity android:name="com.ceapata.agora.VoteActivity" />
        <activity android:name="com.ceapata.agora.SignInActivity"></activity>
    </application>

    <uses-permission android:name="android.permission.INTERNET" />
</manifest>